{% extends "base.html" %}
{% block head %}
{{ super() }}
{% if GOOGLE_SITE_VERIFICATION %}
        <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />
{% endif %}
{% endblock %}

{% block content %}

{% if articles %}
{% for article in articles_page.object_list %}
<article id="{{ article.slug }}" class="box post post-excerpt"{% if article.lang and DEFAULT_LANG != article.lang %} lang="{{article.lang}}"{% endif %}>
    
    {% include 'article_header.html' %}

    {% include 'article_indeximage.html' %}
    
    {% if article.summary != article.content %}
    <div><a href="{{ SITEURL }}/{{ article.url }}">Weiterlesen</a></div>
    {% endif %}
</article>
{% endfor %}

{% endif %}

{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}

